body {
    font-family: Arial, sans-serif;
    background-color: rgb(45 35 88);
}

.blog-header {
    background-color: #2d2358;
    color: white;
    padding: 60px 0;
    text-align: center;
}

.blog-header h1 {
    font-size: 3rem;
}

.card-title {
    color: #2d2358;
}

.card-text {
    font-size: 0.95rem;
}

/* Responsive Fix */
@media (max-width: 768px) {
    .blog-header h1 {
        font-size: 2rem;
    }
}