/* General Body Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
}

/* Hero Section Styles */
.hero-section {
    background: url('/img/Imgb') no-repeat center center;
    background-size: cover;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-section h1 {
    font-size: 3.5rem;
}

/* Feature Section Styles */
.feature-section {
    background-color: rgb(45 35 88);
    color: white;
    padding: 60px 0;
    text-align: center;
}

.feature-section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    margin-top: 30px;
}

.feature-card {
    background-color: rgb(68, 105, 183);
}

.feature-card img {
    object-fit: cover;
    height: 200px;
}